body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.fw {
	font-family: Tahoma, Verdana, Geneva, sans-serif;
	font-size: 12px; /* from dojo.css, may be subject to change */
}
/* TODO: check if all these outline: none are needed */
.fw input, .fw textarea, .fw select,
.fw .dijitDialogFocused, .fw .UIActionImage,
.fw .dijitButtonNode, .fw .dijitButtonNode *,
.fw a, .fw a:hover {
	outline: none;
}
.fw a {
	text-decoration: none;
}
.fw a:hover {
	text-decoration: underline;
}

.fw a.electric {
	color:#3998c9;
}

.fw h1 {
	color: #333333;
	font-size: 30px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	/* font-family: Tahoma, Verdana, Geneva, sans-serif; /* [KGF] redundant? */
}
.fw .subtitle {
	color: #566d73;
	font-size: 14px;
	font-weight: bold;
	margin-top: -10px;
	margin-bottom: 18px;
}
.fw .left {
	float: left;
}
.fw .right {
	float: right;
}
.fw .clear {
	clear: both;
}
.fw .error, .fw .required {
	color: #c74b33;
}
.fw .container {
	width: 1200px;
	padding-left: 20px;
	margin: 0 auto;
	text-align: left;
	overflow: visible; /* override dijitContentPane */
}
.fw .container p {
	font-size: 14px;
}
.fw .containerBg {
	width: 100%;
	margin: 0 auto;
	text-align: left;
	background: #fff url('../images/layout/mainBg.gif');
	background-repeat: repeat-x;

}
.fw .mainBorderContainer {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
.fw .headerContentPane {
	width: 100%;
	height: 40px;
	z-index: 101;
	overflow: visible;
	background: url('../images/menu/menuBg.png');
	background-repeat: repeat-x;
	margin-top: 0;
	padding-top: 0;
	min-width: 1024px; /* to avoid elements collapse when small window size */	
}
.fw .mainContentPane {
	margin-top: -3px;
	z-index: 100;
	background-color: #fff; /* prevent bleeding through */
}
.fw .headerContentPane .container {
	width: auto; /* remove fixed width */
}
.fw .mainContentPane .container {
	padding-bottom: 20px;
}

/* breadcrumbs styles */
.fw .breadcrumbs {
	clear: both;
	padding-top: 15px;
	font-size: 11px;
}
.dj_ie7 .fw .breadcrumbs {
	padding-top: 15px;
	font-size: 11px;
}
.fw .breadcrumbs a,
.fw .breadcrumbs span {
	color: #333333;
	text-decoration: none;
}
.fw .breadcrumbs a:hover {
	text-decoration: underline;
}
.fw .breadcrumbs .current {
	cursor: default; /* [KGF] TODO: remove this if unneeded */
}

/* styles for links in button row above forms (top of left side) */
.fw .buttonsrow {
	margin-top: 24px;
	margin-left: -5px;
	white-space: nowrap;
}

/* styles used by UIActionLink/UIActionImage */
.fw .buttonsrow img,
.fw .UIActionImage img {
	cursor: pointer;
	border: none;
}
.fw .button,
.fw .UIActionLink {
	color: #566d73;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	top: -11px;
	position: relative;
	margin-left: 20px;
	cursor: pointer;
}
.fw span.button:hover,
.fw span.UIActionLink:hover,
.fw a.button:hover,
.fw a.UIActionLink:hover {
	text-decoration: underline;
}

/* disabled action link styles */
.fw .UIActionDisabled {
	color: #d4dadb; /* FIXME: need Tim approval/revision */
	cursor: default;
}
.fw .UIActionDisabled img {
	cursor: default; /* override .fw .button img */
}
.fw span.UIActionDisabled:hover,
.fw a.UIActionDisabled:hover {
	text-decoration: none;
}

/* left-side (form area) styles */
.fw .form {
	width: 790px;
	float: left;
	margin-right: 110px;
}
.fw .form .row {
	clear: both;
	display: block;
	/* height: 40px; /* not good for multiline widgets */
	padding-top: 18px; /* [KGF] maybe this should be margin... */
}
.fw .form .fieldset {
	width: 100%;
	border-bottom: 1px dashed #9e9e9e;
	color: #9e9e9e;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 2px; /* rest is accounted for in .row */
	margin-top: 20px;
	clear: both;
}
.fw .form label {
	width: 25%;
	float: left;
	text-align: right;
	font-size: 13px;
	font-weight: bold;
	line-height: 22px;
	padding-right: 10px;
	white-space: nowrap;
}
.fw .form .formtable {
	position: relative;
	display: block;
}

/* [KGF] base _FormWidget styles (i.e. dijitFocused, dijitError...
   things that are set by _setStateClass)
	 Unfortunately, the !importants are required here to ensure that styles in
   other CSS files (i.e. UIInput) don't clobber these.
	 TODO: Find a better approach if there is one.
*/

/* validation feedback styles
(Used by components which mix in UIValidationMixin, i.e. UIInput, UIFS)
*/
.fw .UIValidationWrapper {
	position: relative;
}
.fw .UIValidationWrapper .errorArea {
	position: absolute;
	bottom: -1.2em;
	display: none; /* don't show if not in error state */
	color: #f53d3d;
	font-size: 10px;
	/* right padding provides space for arrow w/buffer */
	padding: 0 15px 0 1px;
}
.fw .UIValidationWrapperError .errorArea {
	display: block;
	white-space: nowrap;
}

/* right-side notes styles */
/* TODO: resolve image urls */
.fw .note {
	width: 280px;
	float: left;
	font-size: 14px;
	color: #333333;
	line-height: 24px;
	margin-top: 0;
	padding-right: 20px;
	/* font-family: Tahoma, Verdana, Geneva, sans-serif; /* [KGF] redundant? */
}
.fw .note h3 {
	font-size: 15px;
	font-weight: bold;
	color: #333333;
	/* [KGF] override dojo.css (I'm beginning to wonder if we need that) */
	line-height: normal;
	margin: 0;
}
/* reusable version of original .fw .gears; this should work with img or bg */
.fw .note .icon {
	background-repeat: no-repeat; /* in case background-image is used */
	background-position: center;
	display: block;
	text-align: center;
}

/* styles for expandable text functionality */
.fw .UIExpandableText {
	width: 100%;
}
.fw .UIExpandableText .containerDiv {
	display: none;
}
/* [KGF] FF/IE breakup: FF2 doesn't support inline-block, while
   IE6-7 have random problems with position: relative. */
.fw .UIExpandableText .expandBtn,
.fw .UIExpandableText .collapseBtn {
	display: inline;
	position: relative;
	padding-left: 14px; /* room for image */
	margin-left: 8px; /* spacing left of image */
	background-repeat: no-repeat;
	background-position: left 2px; /* give image vertical center effect */
	cursor: pointer;
}
.fw .UIExpandableText .expandBtn {
	background-image: url('../images/common/expandBtn.png');
}
.fw .UIExpandableText .collapseBtn {
	background-image: url('../images/common/collapseBtn.png');
}
.fw .UIExpandableText .displayDiv {
	display: block;
}

/* message/warning/etc boxes */
/* TODO: resolve img urls */

.fw .UIWarningBox {
	opacity: 0;
	color: #333333;
	border: 1px solid #dbdfe1;
	background-color: #ffffff;
	font-size: 12px;
	display: block;
	position: relative;
	line-height: 24px;
	padding: 5px;
	margin-bottom: 18px;
}
.fw .UIWarningBox table {
	width: 100%;
}
.fw .UIWarningBox table td {
	vertical-align: top;
}
.fw .UIWarningBox .warningIcon,
.fw .UIWarningBox .successIcon,
.fw .UIWarningBox .errorIcon,
.fw .UIWarningBox .infoIcon {
	width: 27px;
	height: 24px;
	left: 0;
	top: 4px;
}
.fw .UIWarningBox .warningIcon {
	background: url('../images/icons/iconWarning.png') no-repeat top left;
}
.fw .UIWarningBox .successIcon {
	background: url('../images/icons/iconSuccess.png') no-repeat top left;
}
.fw .UIWarningBox .errorIcon {
	background: url('../images/icons/iconError.png') no-repeat top left;
}
.fw .UIWarningBox .infoIcon {
	background: url('../images/icons/iconInfo.png') no-repeat top left;
}
.fw .UIWarningBox .UIWarningBoxIconCell {
	text-align: left;
	width: 27px;
}
.fw .UIWarningBox .UIWarningBoxContentCell {
	padding-left: 8px;
	padding-top: 5px;
	float: left;
    width: 715px;
    word-wrap: break-word;
}
.dj_ie8 .fw .UIWarningBox .UIWarningBoxContentCell {
	padding-top: 0;
}

/* style used for "Success" / "Error" / etc. */
.fw .UIWarningBox .status {
	font-weight: bold;
	padding-right: 8px;
}
.fw .UIWarningBox .UIWarningBoxCloseCell {
	text-align: right;
	width: 22px;
}
.fw .UIWarningBox .UIWarningBoxClose {
	background: url('../images/icons/iconCross.png') no-repeat;
	width: 22px;
	height: 19px;
	right: 5px;
	display: block;
	margin-top: 2px;
	cursor: pointer;
}

/* MENU (included in UILayout since it is almost guaranteed to be used) */
/* menu bar styles */
.fw .menu {
	margin-top: 7px;
	height: 28px;
	/* margin-left: -8px; /* position correction (unneeded for fluid width) */
	padding-right: 78px; /* ensure space for WEM arrow is available */
}

/* [KGF] generic class for "items" in the menubar (i.e. separators/logos) */
.fw .menu .item {
	float: left;
	display: block;
}
.fw .menu .logoWebCenterSites {
	background: url('../images/logos/SitesTitle.png') no-repeat 0 60%;
	width: 166px;
	height: 29px;
}
.fw .menu .separator {
	background: url('../images/menu/separator.gif') no-repeat;
	width: 2px;
	height: 22px;
	margin-top: 4px;
	margin-left: 12px;
	margin-right: 12px;
}
.fw .menu .logoText {
	color: #fff;
	font-size: 18px;
	padding-top: 4px;
}
.fw .menu .dijitMenuBar {
	margin-left: 72px;
	position: relative;
	float: left;
}
.fw .menu .dijitMenuItem {
	color: #ffffff;
	font-size: 14px;
	line-height: 28px;
	padding-left: 24px;
	padding-right: 24px;
	height: 28px;
	outline: none;
}
.fw .menu .dijitMenuItemHover,
.fw .menu .dijitMenuItemSelected {
	color: #ffffff;
	font-size: 14px;
	line-height: 28px;
	padding-left: 24px;
	padding-right: 24px;
	height: 28px;
	outline: none;
	text-decoration: none;
	background: url('../images/menu/itemHoverBg.png') repeat-x 0 1px;
}
.fw .menu .dijitMenuItemDisabled {
	background: transparent;
	cursor: default;
}
.fw .dijitMenuItemDisabled * {
	opacity: 1;
}
.dj_ie .fw .dijitMenuItemDisabled *,
.dj_ie .fw .dijitMenuItemDisabled td {
	filter: alpha(opacity=100);
}

/* popup menu styles */
.fw .dijitPopup {
	background: transparent;
	margin-top: -1px;
}
.fw table.dijitMenuTable {
	font-size: 12px;
	color: #333333;
	margin: 0;
	padding: 0;
	border: 1px solid #797979;
	background: #fff url('../images/common/ddBg.png') repeat-x 0 100%;	
	-moz-box-shadow: 1px 1px 4px #666;
	-webkit-box-shadow: 1px 1px 4px #666;
	box-shadow: 1px 1px 4px #666;
}
.fw tr.dijitMenuItem {
	background: none;
}
.fw table.dijitMenuTable tr.dijitMenuItem td:first-child {
	width: 0;
}
/* [KGF] this actually covers 2 selectors we want:
   table.dijitMenuItemHover used by menus off our menubar, and
	 tr.dijitMenuItemHover used by the menu off the app switcher.
	 Why these two menus use different HTML, I have no idea...
*/
.fw .dijitMenuItemHover td {
	font-weight: normal;
	background-color: #e1e2e2;
	color: #333333;
}
.fw table.dijitMenuItemSelected,
.fw div.dijitMenuItemSelected {
	background-color: #e1e2e2;
}
.fw td.dijitMenuItemLabel,
.fw span.dijitMenuItemLabel {
	min-width: 80px;
	margin: 0;
	padding: 0 10px;
	height: 25px;
	color: #000;
	white-space: nowrap;
}
.fw tr.dijitMenuItemSelected td.dijitMenuItemLabel {
	height: 25px;
}
.fw table.dijitMenuItemDisabled td.dijitMenuItemLabel,
.fw tr.dijitMenuItemDisabled td.dijitMenuItemLabel {
	color: #ccc;
}
.fw tr:focus {
	outline: none;
}

.fw .dijitMenu, .fw .dijitMenuBar {
	border: none;
}
.fw .popupMenuItem .dijitMenuArrowCell {
	width: 10px;
	background: url('../images/common/arrow.png') no-repeat 0 50%;
}
.fw .popupMenuItem.dijitMenuItemDisabled .dijitMenuArrowCell {
	background-image: url('../images/common/arrowDisabled.png');
}

/* styles for menu shadows (for table-based menus) */
.fw .leftshadow {
	height: 100%;
	background: url('../images/common/ddslBg.png') repeat-y;
	width: 4px;
}
.fw .rightshadow {
	height: 100%;
	background: url('../images/common/ddsrBg.png') repeat-y;
	width: 4px;
}
.fw .bottomshadow {
	height: 4px;
	background: url('../images/common/ddsbBg.png') repeat-x;
}
.fw .bottomleftshadow {
	height: 4px;
	background: url('../images/common/ddsblBg.png') no-repeat right;
	width: 4px;
}
.fw .bottomrightshadow {
	height: 4px;
	background: url('../images/common/ddsbrBg.png') no-repeat;
	width: 4px;
}

/* The following variation on the above shadow styles are actually used for
   specific UI components (combobox/filteringselect and UITable),
   but it's placed here so that it's always loaded. */
.fw .lshadow {
	height: 100%;
	background: url('../images/common/ddslBg.png') repeat-y;
	position: absolute;
	left: -4px;
	width: 4px;
	top: 0;
}
.fw .rshadow {
	height: 100%;
	background: url('../images/common/ddsrBg.png') repeat-y;
	position: absolute;
	right: -4px;
	width: 4px;
	top: 0;
}
.fw .bshadow {
	height: 4px;
	background: url('../images/common/ddsbBg.png') repeat-x;
	position: absolute;
	bottom: -4px;
	width: 100%;
}
.fw .blshadow {
	height: 4px;
	background: url('../images/common/ddsblBg.png') no-repeat;
	position: absolute;
	bottom: -4px;
	left: -4px;
	width: 4px;
}
.fw .brshadow {
	height: 4px;
	background: url('../images/common/ddsbrBg.png') no-repeat;
	position: absolute;
	bottom: -4px;
	right: -4px;
	width: 4px;
}

/* potentially-reusable close "button" styles */
.fw a.close {
	background: url('../images/icons/cross.png') no-repeat;
	width:12px;
	height:12px;
}
.fw a.close:hover {
	background-image: url('../images/icons/crossOver.png');
}

.fw .ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}